h1 {
  color: purple;
  text-align: center;
}
p1 {
  color: rgb(252, 247, 247);
  text-align: center;
}
p2 {
  color: rgb(252, 247, 247);
  text-align: center;
}
p3 {
  color: rgb(252, 247, 247);
  text-align: center;
}
ul {
  color: red;
  text-align: left;
  line-height: 1.88889;
}
body {
  font-family: 75% georgia,sans-serif;
  line-height: 1.88889;
  background: rgb(7, 56, 56);
}
